.headerContainer{
    display: flex;
    align-items: center;
    padding: 0 12%;
    width: 100%;
}

.headerContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.headerContent h5{
    font-size: 22px;
    letter-spacing: 3;
    color: var(--primary-color);
}

.headerContent h1{
    font-size: 100px;
    line-height: 100px;
    background: linear-gradient(90deg, var(--primary-color), #8754ff 50%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.headerContent p{
    color: #fff;
    font-size: 22px;
}

.headerContent .social{
    display: flex;
    gap: 20px;
}

.headerContent .social i{
    font-size: 22px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.4;
    cursor: pointer;
}

.headerContent .social i:hover{
    background-color: var(--primary-color);
    color: #1e1e1e;
}

button{
    width: 140px;
    height: 40px;
    border: 1px solid var(--primary-color);
    font-weight: 500;
    background-color: #1e1e1e;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

button ::after{
    content: "Dwonload Now";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color),#8754ff 80%);
    color: #1e1e1e;
    font-size: 15px !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(130px);
    transition: 0.4s;
}
button:hover ::after{
    transform: translateX(0);
}
.headerImage{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
}

.headerImage img{
    width: 580px;
    height: 580px;
    z-index: 2;
    border-radius: 50%;

}

.borderAnimation{
    position: absolute;
    height: 585px;
    width: 585px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &::after,
    &::before{
        content: '';
        position: absolute;
        inset: -3px;
        background-image: conic-gradient(
            from var(--angle),
            transparent 50%,
            var(--primary-color)
        );
        border-radius: 50%;
        animation: spin 2s infinite linear;
    }
    &::before{
        filter: blur(50px);
        opacity: 1;
    }
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    to{
        --angle:360deg;
    }
}

@media screen and (max-width:1400px){
    .headerImage img{
        width: 500px;
        height: 500px;
    }
    .borderAnimation{
        width: 502px;
        height: 502px;
    }
    .contact{
        width: 90%;
    }
}

@media screen and (max-width:1200px) {
    .headerContainer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .headerContainer .headerContent{
        width: 100%;
        margin-top: 80px;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about .aboutContent{
        width: 90%;
        margin-top: 50px;
    }
}

@media screen and (max-width:600px){
    .headerImage img{
        width: 100%;
        height: 100%;
    }
    .headerImage{
        width: 90%;
    }
    .borderAnimation{
        height: 102%;
        width: 102%;
    }
        .headerContent h1{
            font-size: 60px;
        }
        .about .aboutImage img ,.about .aboutImage{
            width: 100%;
        }
        .about .aboutContent{
            display: flex;
            flex-direction: column;
        }
    .contact .contact_form .inpur_wrapper{
        display: flex;
        flex-direction: column;
    }
}

section{
    display: flex;
    flex-direction: column;
    padding: 80px 12%;
    width: 100%;
}
.headerwrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(44, 2, 89, 1) 0%, rgb(16, 16, 16) 100%);
    overflow: hidden;
}

.sectionTitle{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-color);
}
.aboutwrapper{
    background: linear-gradient(180deg, rgba(44, 2, 89, 1) 0%, rgb(16, 16, 16) 100%);
    overflow: hidden;
}
.about{
    width: 100%;
    display: flex;
    gap: 50px;
}

.about .aboutImage{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .aboutImage img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: 10px 10px 0 #8754ff;
    transition: 0.4s;
}
.about .aboutImage img:hover{
    box-shadow: 10px 10px 10px #8754ff;
}

.about .aboutContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.experience_container{
    background: linear-gradient(0deg, rgba(44, 2, 89, 1) 0%, rgb(16, 16, 16) 100%);
    overflow: hidden;
}
.experience{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    color: #fff;
}
.experience .skillsWrapper ,.experience .experienceWrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experience .skillsWrapper h3{
    font-size: 40px;
}
.experience .skillsWrapper p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}
.experience .skillsWrapper .skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}


.projects_container{
    background: linear-gradient(180deg, rgba(44, 2, 89, 1) 0%, rgb(16, 16, 16) 100%);
    overflow: hidden;
    
}
.projects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 50px;
}
@media screen and (max-width:1200px) {
    .experience {
        flex-direction: column;
    }

    .experience .skillsWrapper,
    .experience .experienceWrapper {
        width: 100%;
    }

    .experience .skillsWrapper h3 {
        font-size: 30px;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}
.contact{
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    position: relative;
    z-index: 1;
    border-radius: 15px;
}
.contact::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background:linear-gradient(0deg,#8754ff,#350d92);
    z-index: -1;
    border-radius: 0 15px 15px 0;
}
.contact_wrapper{
    background: linear-gradient(0deg,rgba(44,2,89,1)0%,rgba(16,16,16)100%);
}

.contact .contact_form{
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.contact .contact_form input{
    height: 40px;
    width: 100%;
    padding: 0 20px;
    outline: none;
}
.contact .contact_form textarea{
    width: 100%;
    height: 200px;
    padding: 20px;
    outline: none;
}
.contact .contact_form h4,.contact .contactDeteils h4{
    font-size: large;
}
.contact .contact_form button::after{
    display: none;
}
.contact .contact_form .inpur_wrapper{
    display: flex;
    gap: 20px;
}
.contact .contactDeteils{
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}
.contact .contactDeteils .info_wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact .contactDeteils .info_wrapper i{
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #1e1e1e;
}
.info_social{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.info_social i{
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
}
.info_social i:hover{
    transform: translateY(-10px);
}

@media screen and (max-width:900px) {
    .contact {
            width: 100%;
            margin-top: 50px;
        }
    .contact .contactDeteils,
    .contact::after
    {
        display: none;
    }
    .contact .contact_form{
        width: 100%;
    }
}
.footer{
    background: linear-gradient(180deg, rgba(44, 2, 89, 1) 0%, rgb(16, 16, 16) 100%);
    overflow: hidden;
}
.footerLinks{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.footerLinks a{
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
}
.footerLinks a:first-of-type{
    border: none;
}
.footerLinks a:hover{
    color: #8754ff;
}
.footer p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.info_wrapper span{
    font-size: medium;
}